/* Created by ignurof with a mobile-first design in mind based on 320x480px screen size */

/* Styling Reset on all selectors */
* {
    margin: 0;
    padding: 0;
}

/* General start */

body {
    display: flex;
    flex-direction: column;
    /* Make sure we don't have any horizontal scrollbars */
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f0f7e1;
}

.active {
    text-decoration: underline;
}

.center {
    text-align: center;
}

/* General end */

/* Header start */

/* makes sure to only apply these rules to the top header
 * remember css order of importance */
body > header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    background-color: #325434;
    position: fixed;
    width: 100%;
}

/* Logo Heading */
#logo-heading {
    display: flex;
}

#logo-heading > a {
    text-decoration: none;
    padding-left: 0.6rem;
    color: #E0BB76;
}

#logo-heading > a > p {
    font-size: 120%;
    position: relative;
    top: 0.6rem;
}

#logo-heading > a > h1 {
    font-size: 180%;
}

/* Hamburger menu */

#hamburger-checkbox {
    display: none;
}

header > label {
    margin-left: auto;
}

.nav-hamburger {
    height: 100%;
    width: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.burger-line {
    background-color: black;
    width: 60%;
    height: 12.5%;
}

nav {
    font-size: 120%;
    /* Hide dropdown nav menu by default until user clicks hamburger button */
    display: none;
}

/* note: these rules have to come after nav since we want to apply overriding styles, and css follows order top to bottom where bottom has most priority */
/* tilde char will target the selector after it */
#hamburger-checkbox:checked~nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
}

nav > ul {
    list-style: none;
}

nav > ul li {
    padding: 1rem;
}

nav > ul a {
    color: #E0BB76;
    text-decoration: none;
}

nav > ul a:hover {
    text-decoration: underline;
}


/* Header end */

/* Page content general start */

main {
    align-self: center;
    min-height: 100vh;
    /* top margin accounts for the fixed header that sits ontop of everything */
    margin: 5.4rem 1rem 1rem 1rem;
}

main > header {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* reset header border from top nav header */
    border: 0;
    margin: 1rem 0 2rem 0;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section img {
    width: 200px;
    height: 200px;
}

main > section .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Page content general end */
/* Specific section content start */

/* Index start */

.call-to-action {
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 2rem;
    background-color: #0F0F0D;
    color: white;
    gap: 2rem;
    align-items: center;
}

.call-to-action > p {
}

.call-to-action > a > button {
    font-size: 160%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #E76020;
    color: white;
}

/* Index end */

/* Guide start */

.guide {
}

/* Guide end */

/* About start */

.about {
}

/* About end */

/* Contact start */

main > header > .contact-text {
    margin: 2rem 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

form label {
    margin-top: 1rem;
}

form > input[type=text]{
    border: 2px solid black;
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0.1rem #DCDCDC;
}

form > input[type=email]{
    border: 2px solid black;
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0.1rem #DCDCDC;
}

form > textarea {
    resize: none;
    border: 2px solid black;
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0.1rem #DCDCDC;
    padding: 0.6rem;
}

form > input[type=submit]{
    margin-top: 2rem;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    font-size: 140%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #E76020;
    color: white;
}

/* Contact end */
/* Specific section content end */

/* Footer start */

footer {
    width: 100%;
    /* Put footer at the bottom at all times */
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
    margin-top: 1rem;
    background-color: #325434;
    color: #E0BB76;
}

footer > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

footer > ul li i {
    color: #E0BB76;
    font-size: 2rem;
}

footer > p {
    text-align: center;
    position: relative;
    bottom: 0.6rem;
}

footer > p > a {
    color: #E0BB76;
    text-decoration: none;
}

/* Footer end */

/* Responsiveness */

/* Samsung Galaxy S20 - 360x800px */
@media screen and (min-width: 360px) and (min-height: 500px) {
    .call-to-action {
        padding: 2rem 2rem 4rem 2rem;
        gap: 4rem;
    }

    .call-to-action > a > button {
        padding: 2rem 2rem 2rem 2rem;
    }   
}

@media screen and (min-height: 700px) {
    .call-to-action {
        /* .4 accounts for top header */
        margin-top: 4.4rem;
    }
}

/* iPad 14 - 810x1080px */
@media screen and (min-width: 810px) { 
    /* This media query makes sure content fits nicely on the screen */ 

    main { 
        width: 70%; 
    } 
}
@media screen and (min-width: 810px)  and (min-height: 720px) {
    main > section img {
        width: 400px;
        height: 400px;
    }

    footer > ul {
        gap: 4rem;
        padding: 4rem;
    }

    footer > ul li i {
        font-size: 3rem;
    }
}

/* Laptops and other screens */
@media screen and (min-width: 1200px) {
    /* This media query just changes content from stacked to 2 items in wrapped rows */ 

    main > section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main > section p {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) and (min-height: 800px) {
    main {
        width: 66%;
    }

    main > section .image {
        width: 50%;
    }

    .call-to-action {
        /* override section row wrap */
        flex-direction: column;
        /* .4 accounts for top header */
        margin-top: 12.4rem;
    }

    header {
        padding-bottom: 0.8rem;
    }

    /* hide hamburger menu */
    header > label {
        display: none;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
        /* account for header padding-bottom */
        margin-top: 0.8rem;
        align-items: center;
        align-self: center;
        font-size: 160%;
    }

    nav > ul li {
        display: inline;
        padding: 2rem;
    }

    footer > ul {
        gap: 5rem;
        padding: 5rem;
    }

    footer > ul li i {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1320px) and (min-height: 800px) {
    main {
        width: 60%;
    }
}
